

@media (max-width: 1440px) {                                /*медиозапросы*/
    body{
        width: 1440px;  
        font-size:small;            
    }
    .top_section_text {       
        left: 54%;
        top: 150px;  
        font-size: 7.6em;       
    }
    .top_section_button{             
        top: 560px; 
        left: 62%;       
    }  
    .beckstage{   
        margin: 70px 15% 0 14%;        
    }      
    .transform{        
         width: 340px;             
    }
    .trans_icon{    
        left: 295px;   
    }    
    .pets{         
        margin-top: 100px;
    }  
    .testimonials_progress{           
        margin: 20px 30% 0 30%;
        width: 40%;  
    }  
    .flower_foto{        
        top: 720px;
    }  
    .palm_foto{        
        top: 1973px; 
    }    
    .strelitzia{        
        top: 2135px;
    }    
    .leav_foto{       
        top: 4030px;    
    } 
}

@media (max-width: 1280px) {                                /*медиозапросы*/
    body{
        width: 1280px;        
    }  
    .top_section_text {       
        left: 52%;
        top: 145px; 
        font-size: 6.6em; 
                
    } 
    .top_section_button{             
        top: 520px; 
        left: 62%;       
    }
    p.beckstage_text_q{ 
        padding: 33px 0 33px 26px;  
    }
    .beckstage{   
        margin: 30px 15% 0 11%;        
    }

    .slider_left{        
        margin: 0  10px 0 6%;
    }    
    .slider_right{        
        margin: 0 6% 0 10px;
    }    
    .slider_imeges{  
        width: 85%;    
    }
    .transform{        
        width: 320px;             
    } 
    .trans_icon{    
       left: 275px;   
    } 
    .friend_box{       
        left: 11%;
        right: 11%;      
    }
    .footer_logotype {        
        left:  8%;      
    }
    .footer_logotype_button {
        margin: 161px 0 0 8%;    
    }
    .footer_message{
        margin: 44px 0 0 8%;     
    }
    .footer_novigator{         
        left: 33%;       
    }
    .footer_input{             
        right: 8%;       
    }
    .footer_text{        
        right: 8%;    
    }
    .flower_foto{        
        top: 640px;
    }  
    .palm_foto{        
        top: 1900px; 
    }    
    .strelitzia{        
        top: 2043px;
    }    
    .leav_foto{       
        top: 3950px;    
    } 
}

@media (max-width: 1220px) {                                /*медиозапросы*/
    body{
        width: 1220px;        
    }  
    .top_section_text {                
        left: 50%;
        top: 160px; 
        font-size: 6em;         
    }    
    .top_section_button{             
        top: 500px; 
        height: 50px;
        left: 61%;               
    }
    .beckstage{   
        margin: 70px 13% 0 8%;        
    }  
    p.beckstage_text_q{ 
        padding: 28px 0 28px 26px;  
    }     
    .slider_left{        
        margin: 0  10px 0 3%;
    }    
    .slider_right{        
        margin: 0 3% 0 10px;
    }    
    .slider_imeges{  
        width: 92%;    
    }
    .transform{        
        width: 320px;             
   } 
    .trans_icon{    
       left: 275px;   
    } 
    .friend_box{       
        left: 8%;
        right: 8%;      
    }
    .flower_foto{        
        top: 610px;
    }  
    .palm_foto{        
        top: 1928px; 
    }    
    .strelitzia{        
        top: 2063px;
    }    
    .leav_foto{       
        top: 3960px;    
    } 
}

@media (max-width: 999px) {                                /*медиозапросы*/
    body{
        width: 999px; 
        font-size:x-small;        
    }
    .top_section_header_logotype {     
        left: 12%;    
    }
    .top_section_header_designed {
        right: 12%;
    }  
    .top_section_text { 
        left: 45%;
        top: 160px;         
    }
    .top_section_button{             
        top: 410px;  
        height: 40px;         
        left: 61%;              
    }
    .beckstage{   
        margin: 0px 13% 0 8%;        
    }  
    .beckstage_text p{       
        font-size: 1.4em;        
    }    
    .pets{        
        display: block ;
        position: relative;      
        margin-top: 30px;
    }    
    .slider_left{
        position: absolute;
        top: 265px;
        left: 35%;
        width: 62px;
        height: 62px;
        margin: 0;
    }    
    .slider_right{
        position: absolute;
        top: 265px;
        right: 35%;
        width: 62px;
        height: 62px;
        margin: 0;
    }    
    .slider_imeges{   
        width: 84%;     
        height: 600px;     
        overflow: hidden;       
        margin: 0 8% 0 8%;
    } 
    .slider_imeges_transform2{
        margin-top: 80px;          
    }     
    .transform{        
        width: 255px; 
        height: 255px;   
        margin: 0;         
    } 
    .trans_icon{    
        left: 215px;   
        bottom: 4px;
     } 
    .slider_img{
        width: 255px;
    }
    .trans_text{            
        top: 130px;
        width: 255px;
        height: 50px;        
        background: #a2a3a0;
    } 
    .transform_title {         
        padding: 8px 5px 0 5px;       
    }    
    .transform_text {        
        padding: 0 5px 0 5px;           
    }    
    .pets_button{        
        width: 20%;
        height: 40px;
        margin: 40px 40% 0 40%;      
    }
    .friend {       
        margin-top: 50px;     
    }    
    .friend_box{       
        left: 8%;
        right: 8%;      
    }
    .friend_button {        
        width: 20%;
        height: 40px; 
        margin: 60px 40% 59px 40%;   
    }
    .friend_second_title{         
        padding: 30px 0 0 9%;    
    }    
    .friend_second_main_info{    
        padding: 40px 9% 0 9%;
    }    
    .friend_second_info{       
        padding: 10px 9% 0 9%;
    }
    .Testimonials {       
        margin: 40px 0 0 0;       
    }
    .testimonials_box{
        width: 960px;
    }
    .Testimonials_button {
        margin: 36px 70% 0 14%;
        width: 20%;
        height: 40px;  
    }  
    .footer{
        margin: 80px 0 0 0;      
    }     
    .footer_logotype_button {   
        height: 45px;
        width: 20%;      
    } 
    .footer_message{
         margin: 50px 0 0 8%;      
    }   
    .footer_novigator{         
        left: 30%;       
    }
    .footer_input{             
        right: 5%;       
    }
    .footer_text{        
        right: 5%;    
    }
    .flower_foto{        
        top: 490px;
    } 
    .palm_foto{        
        top: 1367px; 
    }    
    .strelitzia{        
        top: 1478px;
    }    
    .leav_foto{       
        top: 3163px;    
    } 
}

@media (max-width: 980px) {                                /*медиозапросы*/
    body{
        width: 980px;        
    }
}

@media (max-width: 768px) {                                /*медиозапросы*/
    body{
        width: 768px; 
        font-size:xx-small;       
    }
    .top_section_header_logotype {       
        left: 8%;        
    }
    .top_section_header_novigator{    
        left: 28%;  
    }
    .novigator_list li{        
        margin: 0 20px 0 0;
    }
    .top_section_header_designed {    
        right: 5%;   
    }  
    .top_section_text {       
        left: 38%;
        top: 130px;           
        font-size: 5.5em;      
    }
    .top_section_button{         
        top: 326px;       
    }    
    .beckstage_text h2{    
        font-size: 2em;
        margin: 0 0 10px 0;       
    }
    p.beckstage_text_q{        
        padding: 10px 0 10px 26px;  
    }
    .pets{          
        margin-top: 0px;
    }
    .slider_imeges{      
        height: 720px;     
        overflow: hidden;       
        margin: 0 8% 0 8%;
    }      
    .transform{        
        width: 315px; 
        height: 315px;   
        margin: 0 10px 0 0;         
    }    
    .slider_img{
        width: 315px;
    }
    .trans_icon{    
        left: 265px;   
        bottom: 4px;
     }   
    .trans_text{            
        top: 190px;
        width: 315px;
        height: 50px;        
        background: #a2a3a0;
    } 
    .slider_left{     
       top: 325px;
        left: 35%;      
    }    
    .slider_right{      
        top: 325px;
        right: 35%;        
    } 
    .pets_button{
        margin: 40px 35% 0 35%;
        width: 30%;       
    } 
    .friend {       
        height: 830px; 
    }       
    .friend_box{      
        margin: 69px 0 100px 0;    
        height: 700px;        
    }
    .friend_box h3{       
        padding-top: 30px;
    }    
    .friend_img{    
        margin: 20px 0 0 0;      
    }    
    .friend_img_vector{         
        margin: 62px 5px 0 5px;        
    }
    .friend_button {
        margin: 30px 35% 20px 35%;
        width: 30%;
        height: 40px;       
    }
    .testimonials_box{
        width: 1170px;
    }
    .testimonials_progress {
        margin: 20px 25% 0 25%;       
        width: 50%;        
    }
    .Testimonials_button {       
        font-size: 13px;       
    }
    .footer{
        margin: 80px 0 0 0;       
    } 
    .footer_logotype_button {    
        font-size: 13px;
        height: 40px;        
    }
    .footer_message{
        margin: 60px 0 0 8%;      
   }   
    .footer_text p{
        font-size: 13px;
        margin: 10px 0 0 0;
    }
    .flower_foto{        
        top: 390px;
    } 
    .palm_foto{        
        top: 1410px; 
    }    
    .strelitzia{        
        top: 1497px;
    }    
    .leav_foto{       
        top: 3030px;    
    } 
}

@media (max-width: 640px) {                                /*медиозапросы*/
    body{
        width: 640px;        
    }
    .top_section_header {       
        height: 60px;        
    }
    .top_section_header_logotype {       
        left: 8%;
        top: 4px;    }
    .logotype_home {         
        border: none;                
    }    
    .petStory_online{            
        border: none; 
    }
    .top_section_header_novigator{         
        display: none;
    }  
    .top_section_header_designed {
        display: none;
    } 
    .top_section_text {        
        width: 220px;      
        left: 53%;
        top: 135px;  
        z-index: 0;          
        font-size: 4.3em;       
    }
    .top_section_button{         
        top: 250px; 
        left: 8%;  
        width: 25%;    
    } 
    .beckstage img{
       display: none;
       position: absolute;
      
    }
    .beckstage{           
        height: 350px;       
        margin: 0 18% 0 8%;     
    }
    .beckstage_text {
        padding: 0;          
        font-size: 1.3em;          
    }
    .beckstage_text h2{    
        font-size: 3.6em;       
    }  
    .slider_imeges{      
        height: 620px; 
    }      
    .transform{        
        width: 260px; 
        height: 260px;                   
    }    
    .slider_img{
        width: 260px;
    }
    .slider_imeges_transform2{
        margin-top: 80px;          
    } 
    .slider_left{     
        top: 270px;             
     }    
     .slider_right{      
         top: 270px;                
     } 
    .trans_icon{    
        left: 220px;   
        bottom: 4px;
     }   
    .trans_text{            
        top: 140px;
        width: 260px;               
        background: #a2a3a0;
    } 
    .pets_button{
        margin: 20px 35% 0 35%;              
    } 

    .friend {       
        height: 740px; 
    }       
    .friend_box{      
        margin: 40px 0 25px 0;    
        height: 650px;  
        left: 8%;
        right: 8%;      
    }
    .friend_box h3{       
        padding-top: 10px;
    }   
    .friend_second_title{     
        padding: 20px 5% 0 5%;    
    }    
    .friend_second_main_info{
        
        padding: 30px 5% 0 5%;
    }    
    .friend_second_info{       
        padding: 20px 5% 0 5%;
    } 
    .friend_img img{ 
        padding: 10px;         
        width: 130px;    
    }    
    .friend_img_vector{         
        position:absolute;
        display: none;       
    }
    .friend_button {
        margin: 30px 30% 20px 30%;
        width: 40%;              
    }
    .Testimonials {       
        margin: 30px 0 0 0;       
    }
    .Testimonials_articles{
        width: 100%;       
        overflow:visible; 
        height: auto;    
        margin: 30px 3% 0 3%;        
    }
    .testimonials_box{
        flex-direction: column;
        width: 94%;
        justify-content:center;
    }
    .testimonials_article{
        overflow: hidden;
        width: 100%;
        height:190px;
        margin-top: 20px;        
    }
    .Testimonials_button {
        margin: 36px 30% 0 30%;
        width: 40%;
        height: 40px;  
    }  
    .testimonials_progress{
        display: none;    
    }

    .footer{
        margin: 40px 0 0 0;  
        height: 420px;     
    } 
    .footer_logotype { 
        top: 31px;              
    }
    .footer_logotype_button {     
        width: 40%;      
    }
    .footer_input{
        position: absolute;    
        display: none;
    }
    .footer_message{
       position: absolute; 
       margin: 0; 
       top: 31px;  
       right: 8%;  
       width: 15px ;
    }   
    .footer_message li {
        margin-bottom: 30px;   
    }
   .footer_message label {
        display: none;
    }
    .footer_novigator{         
        left: 8%;        
    }    
    .flower_foto{        
        top: 310px;
        width: 18%;
    } 
    .palm_foto{        
        top: 1213px; 
    }    
    .strelitzia{        
        top: 1284px;
    }    
    .leav_foto{       
        top: 3080px;    
    } 
    .burger-menu{
        display: block;
    }
}
@media (max-width: 600px) {                                /*медиозапросы*/
    body{
        width: 600px;        
    } 
    .top_section_text {    
        left: 52%;
        top: 120px; 
    }
    .top_section_button{  
        top: 240px;          
    }
    .slider_imeges{      
        height: 575px; 
    }      
    .transform{        
        width: 240px; 
        height: 240px;                   
    }    
    .slider_img{
        width: 240px;
    }
    .slider_imeges_transform2{
        margin-top: 80px;          
    } 
    .trans_icon{    
        left: 205px;   
        bottom: 4px;
    }   
    .trans_text{            
        top: 122px;
        width: 240px;               
        background: #a2a3a0;
    } 
    .slider_left{     
        top: 250px;             
     }    
     .slider_right{      
         top: 250px;                
    } 
    .palm_foto{        
        top: 1160px; 
    }    
    .strelitzia{        
        top: 1227px;
    }    
    .leav_foto{       
        top: 3020px;    
    } 

}


@media (max-width: 320px) {                                /*медиозапросы*/
    body{
        width: 320px;        
    }

    .top_section_header {        
        height: 30px;      
    }
    .top_section_header_logotype {       
        width: 42px;
        height: 28px;        
        top: 4px;
    }
    .bamboo{        
        left: 3px;
        top: 8px;
        width: 8px;
    }    
    .logotype_home {      
        width: 42px; 
    }    
    .petStory_online{         
        font-weight: 400;
        font-size: 10px;
    }
    .top_section_ellipse{    
        top: 45px;   
    }
    .top_section_text {    
        left: 35%;
        top: 65px;
        font-size: 2.2em; 
    }
    .top_section_button{  
        top: 180px; 
        width: 80%;    
        margin:0;     
    }    
    .beckstage_text h2{    
        font-size: 2em;
        line-height: 120%;  
        margin: 150px 0 0px 0;
    }    
    p.beckstage_text_q{    
        font-size: 1.8em;
        line-height: 120%;  
        padding: 20px 0 20px 26px;  
    }
    .pets{    
        margin: 100px 5% 0 5%;
        height: 100%;
        width: 80%;
    }
    .slider_left{
        display: none;
    }    
    .slider_right{
        display: none;
    }
    .slider_imeges{   
        width: 80%;     
        height: 100%;     
        overflow: visible;            
    }
    .slider_imeges_transform{   
        display:block ;   
    }    
    .slider_imeges_transform2{
        margin-top: 10px;
        display:block ; 
    }
    .transform{   
      margin-top: 10px;  
    }
    .pets_button{
        margin: 30px 10% 0 10%;
        width: 80%;
        height: 54px;   
        top: 626px;       
    }
    .friend {       
        height: 940px;         
    }
    .friend_box{       
        left: 5%;
        right: 5%;
        margin: 20px 0 0 0;    
        height: 900px; 
    }
    .friend_second_main_info{
       display: none;
    }
    .friend_second_info{
     display: none;
    }

    .friend_button {
        margin: 0 10% 0 10%;
        width: 80%;
        height: 44px;       
    }   
    .Testimonials_articles{
       
        margin-top: 0;
        
    }
    .testimonials_article{        
         height: 100px;        
     }
     .Testimonials_button {
        margin: 20px 15% 0 15%;
        width: 70%;
        height: 40px;        
    }

    .footer{       
        height: 400px;      
    }
    .footer_logotype1{
        display: inline;
    }
    .logotype_home1 h1{
        font-size: 1.2em;
        padding-top: 20px;
    }
    .bamboo1{
        position: absolute;
        left: 170px;
        top: 20px;
    }
    
    .footer_logotype {
       display: none;     
    }
    .footer_logotype_button {
        margin: 120px 10% 0 10%;    
        width: 80%;
        height: 44px;    
       
    }
    .footer_message{
        position: absolute; 
        display: flex;
        flex-direction: row;
        margin: 0; 
        top: 85px;  
        left: 20%;  
        width: 100% ;       
     }   
     .footer_message a{        
        width: 60%;
        padding-right: 20px;  
    }
    .footer_text{       
        right: 14%;
        top: 280px;         
    }
    .flower_foto{      
        top: 210px;
    }
    .palm_foto{        
        top: 2155px; 
    }    
    .strelitzia{        
        top: 2190px;
    }    
    .leav_foto{       
        top: 3785px;    
    } 
    .burger_btn {
        top: 1px;      
    }
    .burger_box {
       
        top: 30px;
        right: 0;
        width: 160px;
        height: 100%;
        margin: 0;
        padding: 5px 0;       
    }  
    .burger_item {
        padding: 5px 24px;         
    }

}